$primaryFont: 'Ubuntu', sans-serif;
$primaryFontSize: 14px;

$primary: #5570F1;
// $secondary: #282828;
// $ternary: #323232;

$success: #51c219;
$warning: #fdb016;
$danger: #fd4d4f;

$bgColorSiteContent: #f4f5fa;
$bgColorCard: white;
$bgColorSidebar: white;

// Screen sizes
$xxl: 1440px;
$xl: 1280px;
$l: 1024px;
$m: 768px;
$s: 540px;